*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.elf
*.hex
*.d
**/*.X/html/
**/*.X/nbproject/private/
**/*.X/nbproject/Package-*.bash
**/*.X/build/
**/*.X/nbbuild/
**/*.X/dist/
**/*.X/nbdist/
nbactions.xml
nb-configuration.xml
funclist
**/*.X/nbproject/Makefile-*
**/*.X/disassembly/
*.map

